<footer style="min-height: 100px; margin-top: 4rem; margin-bottom: 5rem;">
    <div class="container">
        <hr/>
        <div class="row d-flex justify-content-center" style="padding: 10px;">

            @for (link of legalLinks; track link.url) {
            <div class="col-12 col-md-12 col-lg-2" style="padding: 10px 20px;">
                <a [routerLink]="link.url">{{ link.label }}</a>
            </div>
            }

        </div>
        <hr>
        <div class="col-12 col-md-12 col-lg-12 mt-5">
            <h3 style="font-size: small;">© {{ date }} GRUPO VECSA TODOS LOS DERECHOS RESERVADOS.</h3>
        </div>
    </div>
</footer>
