<app-new-nav></app-new-nav>


<div class="container">
    <div class="row">
        <div class="col-12 mt-5 mb-5">
            <!-- Header -->
            <div class="row mb-3">
                <div class="col-12">
                    <h4 class="fs-4 fw-bold text-truncate">Registro de KM</h4>
                    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" [routerLink]="['/admin/staff/']">Overview</li>
                            <li class="breadcrumb-item active" aria-current="page">Registro de KM</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <!-- Search-->
           <!-- Buscar y Agregar Cliente -->
          <div class="d-flex flex-wrap mb-3 barra">
            <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Buscar...</mat-label>
                <input  matInput (keyup)="applyFilter($event)" placeholder="Búsqueda..." #input>
              </mat-form-field>
            </div>
          </div>
  
          <!-- Tabla -->
          <div class="d-flex justify-content-center mat-table-container">
            <div class=" w-100">
              <table mat-table [dataSource]="dataSource" class="w-100">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'font-weight': 'bold'}">ID</th>
                  <td mat-cell *matCellDef="let row" [ngStyle]="{'background-color': row.color}">
                    <div class="row">
                      <div class="col-3">
                        <a class="toggle-button" mat-menu-item (click)="details(row.id)">
                          <img src="assets/icons-fontawesome/sort-down-solid.svg" alt="" width="17px" height="17px">
                        </a>
                      </div>
                      <div class="col-9"> {{ row.id }} </div>
                    </div>
                    
                    <div class="" *ngIf="mostrar && row.id == mostrarId && datosM == 'movil' ">
                      <tr>
                        <th>Talla</th>
                        <td>{{row.talla}}</td>
                      </tr>
                      <tr>
                        <th>Sucursal</th>
                        <td>{{row.agencia}}</td>
                      </tr>
                      <tr>
                        <th>Telefono:</th>
                        <td>{{row.telefono}}</td>
                      </tr>
                      <tr>
                        <th>Email:</th>
                        <td style="font-size: small;">{{row.email}}</td>
                      </tr>
                      <tr>
                        <th>Fecha:</th>
                        <td>{{row.fecha}}</td>
                      </tr>
                      <tr>
                        <th>Acciones:</th>
                        <td>
                          <div class="d-grid justify-content-center">
                            <a (click)="updatePoints(row.customer_uuid)" class="btn" matTooltipPosition="above" style="background-color: #619cce;">
                                <span style="color: #fff; font-size: 8px;">Registrar Compra</span>
                            </a>
                        </div>
                        </td>
                      </tr>
                      
                    </div>
                    <div class="" *ngIf="mostrar && row.id == mostrarId  && datosM == 'movil2'">
                      <tr>
                        <th>Telefono:</th>
                        <td>{{row.telefono}}</td>
                      </tr>
                      <tr>
                        <th>Email:</th>
                        <td>{{row.email}}</td>
                      </tr>
                      <tr>
                        <th>Fecha:</th>
                        <td>{{row.fecha}}</td>
                      </tr>
                      <tr>
                        <th>Acciones:</th>
                        <td>
                          <div class="d-grid justify-content-center">
                            <a (click)="updatePoints(row.customer_uuid)" class="btn" matTooltipPosition="above" style="background-color: #619cce;">
                                <span style="color: #fff; font-size: 8px;">Registrar Compra</span>
                            </a>
                        </div>
                        </td>
                      </tr>
                    </div>
                    <div class="" *ngIf="mostrar && row.id == mostrarId  && datosM == 'tablet'">
                      <tr>
                        <th>Puntos:</th>
                        <td>{{row.puntos}}</td>
                      </tr>
                      <tr>
                        <th>Email:</th>
                        <td>{{row.email}}</td>
                      </tr>
                      <tr>
                        <th>Fecha:</th>
                        <td>{{row.fecha}}</td>
                      </tr>
                      <tr>
                        <th>Fecha de registro</th>
                        <td> {{ row.register_date }}</td>
                      </tr>
                      <tr>
                        <th>Acciones:</th>
                        <td>
                          <div class="d-grid justify-content-center">
                            <a (click)="updatePoints(row.customer_uuid)" class="btn" matTooltipPosition="above" style="background-color: #619cce;">
                                <span style="color: #fff; font-size: 8px;">Registrar KM</span>
                            </a>
                        </div>
                        </td>
                      </tr>
                    </div>
                  </td>
                </ng-container>
          
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'font-weight': 'bold'}">Nombre</th>
                  <td mat-cell *matCellDef="let row" [ngStyle]="{'background-color': row.color}">{{ row.name }}</td>
                </ng-container>

                <ng-container matColumnDef="talla">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'font-weight': 'bold'}">Talla</th>
                  <td mat-cell *matCellDef="let row" [ngStyle]="{'background-color': row.color}">{{ row.talla }}</td>
                </ng-container>
                
                <ng-container matColumnDef="telefono" class="ocultas">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'font-weight': 'bold'}">Teléfono</th>
                  <td mat-cell *matCellDef="let row" [ngStyle]="{'background-color': row.color}">{{ row.telefono }}</td>
                </ng-container>

                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'font-weight': 'bold'}">Email</th>
                  <td mat-cell *matCellDef="let row" [ngStyle]="{'background-color': row.color}">{{ row.email }}</td>
                </ng-container>

                <ng-container matColumnDef="puntos">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'font-weight': 'bold'}">Puntos</th>
                  <td mat-cell *matCellDef="let row" [ngStyle]="{'background-color': row.color}">{{ row.puntos }}</td>
                </ng-container>

                <ng-container matColumnDef="register_date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'font-weight': 'bold' , 'text-align': 'center'}">Fecha de registro</th>
                  <td mat-cell *matCellDef="let row" [ngStyle]="{'background-color': row.color, 'text-align': 'center'}">{{ row.register_date }}</td>
                </ng-container>
          
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef [ngStyle]="{'font-weight': 'bold', 'text-align': 'center'}">Acciones</th>
                  <td mat-cell *matCellDef="let row" [ngStyle]="{'background-color': row.color}">
                      <div class="d-grid justify-content-center">
                          <a (click)="updatePoints(row.customer_uuid)" class="btn" matTooltipPosition="above" style="background-color: #619cce;">
                              <span style="color: #fff; font-size: 10px;">Registrar KM</span>
                          </a>
                      </div>
                  </td>
              </ng-container>

                <!-- Fila de encabezado y datos -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
              </table>
              <mat-paginator [pageSize]="paginate" [length]="length" [pageIndex]="pageIndex - 1" (page)="paginationChange($event)"   aria-label="Select page of riders"></mat-paginator>
            </div> 
          </div>
  
        </div>
    </div>
</div>

