<!-- <swiper-container direction="vertical" pagination="true" pagination-clickable="true" space-between="30" slides-per-view="3">
    <swiper-slide class="slider-c2" *ngFor="let image of dataImages">
        <div class="row align-items-center">
            <div class="col-4">
                <div class="" (click)="showModal(image.url)">
                    <img class="img-small" src="{{image.url}}" alt="">
                </div>
            </div>
        
            <div class="col-8 d-flex flex-column">
                <h1 class="slide-title mb-2">Clinica de manejo Off Road</h1>
                <h2 class="slide-title-date mb-4">Junio 13</h2>
        
                <div class="d-flex justify-content-between align-items-center mt-auto">
                    <div></div>
                    <button class="slide-btn btn btn-primary" type="submit">Reservar</button>
                </div>
            </div>
        </div>
    </swiper-slide>  
</swiper-container> -->
