.img-container {
  width: 100%;
}

.img2{
  width: 100%;
  height: 525px;
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 576px) {
  .img2 {
      width: 100%;
      height: 200px;
  }
}

/* Para pantallas medianas (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  .img2 {
      width: 100%;
      height: 300px;
  }
}

/* Para pantallas grandes (escritorios) */
@media (min-width: 600px) and (max-width: 1024px) {
  .img2 {
      width: 100%;
      height: 400px;
  }
}
