<section>
    <app-banner [banner_data]="banner_data"></app-banner>   
    <app-sevice-with-image *ngFor="let element of image_services; index as i" [service_image]="element"></app-sevice-with-image>    
    <app-bar-message [bar_message_data]="bar_message_data"></app-bar-message>    
    <div>
        <app-formulario-cita [Marca]="Marca" ></app-formulario-cita>
    </div>
    <div>
        <iframe class="maps"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14988.261629422863!2d-98.7449944!3d20.0895525!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1a735bd70a0e5%3A0x6a742b49b192fa5b!2sBMW%20Vecsa!5e0!3m2!1ses-419!2smx!4v1693335013651!5m2!1ses-419!2smx"
        width="100%"  style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>