<div class="card-element">

  <!-- Image + price overlay -->
  <div class="price-container">
    <img loading="lazy" [src]="vehicle_image" class="fade-in-image" alt="{{ vehicle.name | titlecase }}">
    <div class="price-align">
      <div class="price">
        ${{ vehicle.sale_price | number:'' }}
        <span class="price-promo" *ngIf="vehicle.offer_price">¡PROMO!</span>
      </div>
    </div>
  </div>

  <!-- Info -->
  <div class="card-body">
    <h2>{{ vehicle.name }}</h2>
    <p>{{ vehicle.mileage | number:'' }} km &nbsp;·&nbsp; {{ vehicle.transmission | titlecase }} &nbsp;·&nbsp; {{ vehicle.model.year }}</p>
    <p>{{ vehicle.dealership.location | titlecase }}</p>
    <p *ngFor="let camp of vehicle.campaigns">{{ camp.name }}</p>
  </div>

</div>
