<div class="container-fluid">

    <div class="select-container ">
        <div class="list-group color">
            <a class="btn color"
                (click)="cambiarIframe('1m18!1m12!1m3!1d3747.0652872974188!2d-98.74756932476843!3d20.089557519373315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1a735bd70a0e5%3A0x6a742b49b192fa5b!2sBMW%20Vecsa!5e0!3m2!1ses-419!2smx!4v1698683112309!5m2!1ses-419!2smx')"
                class="list-group-item list-group-item-action flex-column align-items-start  ">
                <div class="d-flex w-100 justify-content-between ">
                    <h5 class="mb-1">VECSA PACHUCA</h5>
                </div>
                <p class="mb-1">Vial, La Paz 113, Adolfo López Mateos, 42094 Pachuca de Soto, Hgo.</p>
            </a>
            <a class="btn"
                (click)="cambiarIframe('1m18!1m12!1m3!1d3771.854429058251!2d-98.2410366191891!3d19.026135207578594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc74717cd4eb9%3A0x3b0cf37ec4ced582!2sBMW%20Vecsa%20Angel%C3%B3polis!5e0!3m2!1ses-419!2smx!4v1698685881169!5m2!1ses-419!2smx')"
                class="list-group-item list-group-item-action flex-column align-items-start  ">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">VECSA ANGELOPOLIS</h5>
                </div>
                <p class="mb-1">Atlixcáyotl 5316, Reserva Territorial Atlixcáyotl, Corredor Comercial Desarrollo
                    Atlixcayotl, 72190 Puebla, Pue.</p>
            </a>
        </div>
    </div>






    <div class="row">
        <div class="col-12">
            <iframe #map
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3747.0652872974188!2d-98.74756932476843!3d20.089557519373315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1a735bd70a0e5%3A0x6a742b49b192fa5b!2sBMW%20Vecsa!5e0!3m2!1ses-419!2smx!4v1698683112309!5m2!1ses-419!2smx"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <div class="row">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1lo0HmqKVaSyI2YiQB39Ma1M-eaTGld0&ehbc=2E312F&noprof=1"
            width="100%" height="480"></iframe>



    </div>

</div>